#titulo{

    text-align: center;

}

.container{

    padding-top: 5em;
    perspective: 1000px;

}

.face{

    border-radius: 2em;
    
}

.col{

    scale: (1);
    transform-style: preserve-3d;
    transition: transform .5s;
    position: relative;

}

.col:active{

    transform: scale(0.97);
    transition: transform .2s;

}

.col.girar{

    transform: rotateY(180deg);

}
.face,.verso{

    position: absolute;
    backface-visibility: hidden;

}

.face{

    transform: rotateY(180deg);

}